:root {
  --plate: rgb(255, 255, 255);
  --outline: 0.5px solid rgb(171, 158, 189);
  --line-color: rgb(171, 158, 189);
  --radius: 2rem;
  --box-shadow: 0 5px 0.5px 0 rgba(25, 0, 46, 0.4);
}

*,
*::before,
*::after {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 16px;
  word-spacing: 4px;
  line-height: 1.4em;
  margin: 0;
  background-color: rgb(223, 241, 237);
  color: rgb(0, 0, 0);
}

body h3 {
  word-spacing: 1px;
  text-transform: capitalize;
}

.container {
  width: 50%;
  margin: 20px auto;
}

.headPlate {
  position: relative;
  border-bottom: var(--outline);
  height: 50px;
  padding: 10px 0;
  border-radius: 0 0 var(--radius) var(--radius);
  user-select: none;
  box-shadow: var(--box-shadow);
  background-color: var(--plate);
}

.headPlate h1 {
  margin: auto;
  padding: 0.8rem 1.2rem;
  height: fit-content;
  text-align: center;
  width: fit-content;
  background-color: rgb(218, 218, 218);
  border-radius: 0.6rem;
}

.headBackground {
  background-color: red;
  height: 100px;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.mainPlate {
  background-color: var(--plate);
  border-left: var(--outline);
  border-right: var(--outline);
  padding: 10px 25px;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: white;
}

span.readtime {
  /* border: rgb(255, 108, 108) 2px solid; */
  box-shadow: 0 1.5px 0.5px 0 rgba(255, 0, 0, 10.2);
}

.mainPlate h3 {
  font-size: 24px;
  margin: 12px 0 2px;
}

footer {
  border-top: var(--outline);
  text-align: center;
  background-color: var(--plate);
  border-radius: var(--radius) var(--radius) 0 0;
  padding: 1px 0;
  color: rgb(102, 102, 102);
}

footer p {
  margin-top: 20px;
  margin-bottom: 1px;
  font-size: 0.8rem;
  line-height: 1rem;
}

#author {
  font-family: monospace;
  margin-top: 6px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 600;
}

/* RESPONSIVE RESPONSIVE RESPONSIVE  */
@media (max-width: 850px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  .mainPlate h3 {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
  p {
    font-size: 15px;
  }
  .logo {
    visibility: hidden;
    position: relative;
  }
}

#wavy-background {
  z-index: -4;
}

/* SUBS SUBS SUBS SUBS SUBS */
.readtime {
  font-size: 12px;
  background-color: rgb(255, 126, 126);
  color: rgb(255, 255, 255);
  border-radius: var(--radius);
  padding: 1px 8px;
  user-select: none;
}

/* BACKGROUND STYLE - BACKGROUND STYLE */
.custom-shape-divider-top-1638232626 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1638232626 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 185px;
}

.custom-shape-divider-top-1638232626 .shape-fill {
  fill: #ffc9c9;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1638232626 svg {
    width: calc(100% + 1.3px);
    height: 200px;
  }
}

#background-style {
  /* background: url(./svg/Trianglify-5.9s-1366px.svg); */
  background: url(./svg/Trianglify-5.9s-1366px.svg);
  size: 100% auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
/* 
#background-style svg {
  position: relative;
  height: 1585px;
} */

/* ICONS ICONS ICON ICONS ICONS */
.readtime::before {
  font-family: "Material Icons";
  color: white;
  content: "\e8b5";
  font-size: 1rem;
  position: relative;
  top: 3px;
  right: 2px;
}

.logo {
  background-color: rgb(201, 201, 201);
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: 22px;
}

.logo::after {
  font-family: "Material Icons";
  color: rgb(223, 113, 113);
  content: "\e666";
  font-size: 1rem;
  font-size: 50px;
}
